table, td{
    border: 2px solid black;
    border-collapse: collapse;
}

table tr:first-child{
    background-color: gray;
}

table tr:nth-child(2) td:nth-child(3),
table tr:nth-child(3) td:nth-child(3),
table tr:nth-child(2) td:nth-child(5),
table tr:nth-child(3) td:nth-child(5),
table tr:nth-child(2) td:nth-child(6),
table tr:nth-child(3) td:nth-child(6){
    background-color: black;
}
